.gallery-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.gallery-card{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.gallery-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 600px){
    .gallery-wrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}