.promo{
    padding: 210px 0 575px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(252, 252, 252, 1);
}

.promo .container{
    display: flex;
    gap: 40px;
}
.promo-txt{
    padding-top: 43px;
    max-width: 200px;
}
.promo-txt button{
    border: 1px solid rgba(252, 252, 252, 0.7);
}

@media (max-width: 820px){
    .promo{
        background-position: 0 center;
    }
    .promo .container{
        flex-direction: column;
    }
    .promo-txt{
        padding-top: 0;
    }
}

@media (max-width: 460px){
    .promo{
        padding: 114px 0 182px;
    }
    
}
